* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#addButton {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

#gr-text {
  /** TEXT GRADIENT */
  color: #673ab7;
  background-image: -webkit-linear-gradient(0deg, #673ab7 23%, #9c27b0 90%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
